@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono);
html, body {
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: sans-serif;
  height: 100%;
  width: 100%; }

.alert-message {
  text-align: center;
  font-size: 1.2rem; }
  .alert-message.error {
    color: #e74c3c; }

/*
header {
	height: 3.5rem;
	line-height: 3.5rem;
	background-color: $darkblue;
	font-size: 1.2rem;
	a {
		display: inline-block;
		width: auto;
		height: 3.5rem;
		line-height: 3.5rem;
		padding: 0 3rem;
		margin: 0;
		color: white !important;
		text-decoration: none;
		float: left;
		i {
			font-size: 2rem;
		}
	}
	input[type="text"] {
		margin: .5rem 0;
		padding: 0 1rem;
		height: 2.5rem;
		-webkit-appearance: none;
		appearance: none;
		border: none;
		background-color: white;
		outline: none;
		width: 300px;
		float: left;
		border-radius: .2rem;
	}
}
*/
header {
  height: 4rem;
  line-height: 4rem;
  font-family: "Ubuntu Mono";
  font-size: 1.5rem; }
  header a {
    display: inline-block;
    text-decoration: none;
    color: #2c3e50 !important;
    padding: 0 3rem;
    text-transform: uppercase;
    -webkit-transition: color 150ms ease-in-out;
    transition: color 150ms ease-in-out; }
    header a:hover {
      color: #7f8c8d !important; }

#lr-container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 300px;
  overflow: hidden; }
  #lr-container #lr-sub-container {
    width: 200%;
    position: relative;
    top: 0px;
    left: 0px;
    -webkit-transition: left 200ms ease-in-out;
    transition: left 200ms ease-in-out; }
    #lr-container #lr-sub-container form {
      width: 50%;
      height: 100%;
      float: left; }
      #lr-container #lr-sub-container form h1 {
        margin: 4rem 0;
        padding: 0;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        font-size: 4rem;
        font-weight: 300;
        color: #2c3e50; }
      #lr-container #lr-sub-container form input, #lr-container #lr-sub-container form button {
        -webkit-appearance: none;
        appearance: none;
        border: 1px solid #bdc3c7;
        margin: .5rem 0;
        background-color: white;
        outline: none;
        width: 100%;
        padding: .7rem;
        box-sizing: border-box;
        border-radius: .2rem;
        font-size: 1.2rem; }
        #lr-container #lr-sub-container form input[type="submit"], #lr-container #lr-sub-container form button[type="submit"] {
          background-color: #7f8c8d;
          border: none;
          width: auto;
          font-size: 1.2rem;
          color: white;
          float: right;
          cursor: pointer;
          -webkit-transition: background 150ms ease-in-out;
          transition: background 150ms ease-in-out; }
          #lr-container #lr-sub-container form input[type="submit"]:hover, #lr-container #lr-sub-container form button[type="submit"]:hover {
            background-color: #27ae60; }
        #lr-container #lr-sub-container form input.half, #lr-container #lr-sub-container form button.half {
          width: calc(50% - .5rem);
          float: left; }
          #lr-container #lr-sub-container form input.half.one, #lr-container #lr-sub-container form button.half.one {
            margin-right: 1rem; }
      #lr-container #lr-sub-container form button {
        color: #2980b9;
        border: none;
        margin: 3rem 0; }
        #lr-container #lr-sub-container form button:hover {
          text-decoration: underline;
          cursor: pointer;
          text-align: center; }

#friends {
  width: 300px;
  padding: .5rem; }
  #friends input {
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid #bdc3c7;
    padding: 1rem;
    margin: .5rem;
    font-size: 1.2rem;
    width: 100%;
    box-sizing: border-box;
    border-radius: .2rem; }
  #friends .friend {
    position: relative;
    margin: .5rem;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    color: white;
    width: 4rem;
    border-radius: 50%;
    overflow: hidden;
    background-color: #27ae60;
    font-size: 1.3rem;
    float: left; }
  #friends .friend-search {
    width: 100%;
    margin: 0 .5rem;
    -webkit-transition: background 150ms ease-in-out;
    transition: background 150ms ease-in-out; }
    #friends .friend-search .friend-info {
      width: calc(100% - 11rem);
      height: 5rem;
      float: left;
      padding-left: 1rem; }
      #friends .friend-search .friend-info .friend-name {
        margin: .7rem 0 0 0;
        height: 2rem;
        line-height: 2rem;
        font-size: 1.4rem; }
      #friends .friend-search .friend-info .friend-email {
        height: 1.3rem;
        line-height: 1.3rem;
        font-size: 1.1rem;
        font-style: italic;
        text-transform: lowercase; }
    #friends .friend-search .friend-add {
      width: 5rem;
      height: 5rem;
      line-height: 5rem;
      float: left;
      text-align: center;
      font-size: 1.4rem;
      cursor: pointer;
      -webkit-transition: background color 150ms ease-in-out;
      transition: background color 150ms ease-in-out; }
      #friends .friend-search .friend-add:active, #friends .friend-search .friend-add:hover {
        background-color: #27ae60;
        color: white; }
    #friends .friend-search:hover {
      background-color: #ecf0f1; }

/*# sourceMappingURL=index.css.map */
