@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono);

$offwhite: #ecf0f1;
$blue: #2980b9;
$green: #27ae60;
$gray: #7f8c8d;
$silver: #bdc3c7;
$darkblue: #2c3e50;
$red: #e74c3c;

@mixin transition($trans) {
	-webkit-transition: $trans;
	transition: $trans;
}

html, body {
	margin: 0;
	padding: 0;
	font-size: 10px;
	font-family: sans-serif;
	height: 100%;
	width: 100%;
}

.alert-message {
	text-align: center;
	font-size: 1.2rem;
	&.error {
		color: $red;
	}
}

/*
header {
	height: 3.5rem;
	line-height: 3.5rem;
	background-color: $darkblue;
	font-size: 1.2rem;
	a {
		display: inline-block;
		width: auto;
		height: 3.5rem;
		line-height: 3.5rem;
		padding: 0 3rem;
		margin: 0;
		color: white !important;
		text-decoration: none;
		float: left;
		i {
			font-size: 2rem;
		}
	}
	input[type="text"] {
		margin: .5rem 0;
		padding: 0 1rem;
		height: 2.5rem;
		-webkit-appearance: none;
		appearance: none;
		border: none;
		background-color: white;
		outline: none;
		width: 300px;
		float: left;
		border-radius: .2rem;
	}
}
*/

header {
	height: 4rem;
	line-height: 4rem;
	font-family: 'Ubuntu Mono', ;
	font-size: 1.5rem;
	a {
		display: inline-block;
		text-decoration: none;
		color: $darkblue !important;
		padding: 0 3rem;
		text-transform: uppercase;
		@include transition(color 150ms ease-in-out);
		&:hover {
			color: $gray !important;
		}
	}
}

#lr-container {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 300px;
	overflow: hidden;
	#lr-sub-container {
		width: 200%;
		position: relative;
		top: 0px;
		left: 0px;
		@include transition(left 200ms ease-in-out);
		form {
			width: 50%;
			height: 100%;
			float: left;
			h1 {
				margin: 4rem 0;
				padding: 0;
				text-align: center;
				font-family: 'Open Sans', sans-serif;
				font-size: 4rem;
				font-weight: 300;
				color: #2c3e50;
			}
			input, button {
				-webkit-appearance: none;
				appearance: none;
				border: 1px solid $silver;
				margin: .5rem 0;
				background-color: white;
				outline: none;
				width: 100%;
				padding: .7rem;
				box-sizing: border-box;
				border-radius: .2rem;
				font-size: 1.2rem;
				&[type="submit"] {
					background-color: $gray; 
					border: none;
					width: auto;
					font-size: 1.2rem;
					color: white;
					float: right;
					cursor: pointer;
					@include transition(background 150ms ease-in-out);
					&:hover {
						background-color: $green;
					}
				}
				&.half {
					width: calc(50% - .5rem);
					float: left;
					&.one {
						margin-right: 1rem;
					}
				}
			}
			button {
				color: $blue;
				border: none;
				margin: 3rem 0;
				&:hover {
					text-decoration: underline;
					cursor: pointer;
					text-align: center;
				}
			}
		}
	}
}

#friends {
	width: 300px;
	padding: .5rem;
	input {
		-webkit-appearance: none;
		appearance: none;
		border: 1px solid $silver;
		padding: 1rem;
		margin: .5rem;
		font-size: 1.2rem;
		width: 100%;
		box-sizing: border-box;
		border-radius: .2rem;
	}
	.friend {
		position: relative;
		margin: .5rem;
		height: 4rem;
		line-height: 4rem;
		text-align: center;
		color: white;
		width: 4rem;
		border-radius: 50%;
		overflow: hidden;
		background-color: $green;
		font-size: 1.3rem;
		float: left;
	}
	.friend-search {
		width: 100%;
		margin: 0 .5rem;
		@include transition(background 150ms ease-in-out);
		.friend-info {
			width: calc(100% - 11rem);
			height: 5rem;
			float: left;
			padding-left: 1rem;
			.friend-name {
				margin: .7rem 0 0 0;
				height: 2rem;
				line-height: 2rem;
				font-size: 1.4rem;
			}
			.friend-email {
				height: 1.3rem;
				line-height: 1.3rem;
				font-size: 1.1rem;
				font-style: italic;
				text-transform: lowercase;
			}
		}
		.friend-add {
			width: 5rem;
			height: 5rem;
			line-height: 5rem;
			float: left;
			text-align: center;
			font-size: 1.4rem;
			cursor: pointer;
			@include transition(background color 150ms ease-in-out);
			&:active, &:hover {
				background-color: $green;
				color: white;
			}
		}
		&:hover {
			background-color: $offwhite;
		}
	}
}