<!DOCTYPE html>
<html>
	<head>
		<title>volition</title>
		<link href="/css/index.css" rel="stylesheet" type="text/css" />
		<link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css" />
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
	</head>
	<body>
		@include{context.get('page')}
	</body>
</html>